/**
 * @file
 * Custom CSS for SparkMenus.
 */

/* Main block */
div.sparkmenus {
  background-color: #6EA16E;
  border: 1px solid #589072;
  left: 0;
  padding: 0;
  padding: 3px;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 999;
}

/* Both columns */
div.sparkmenus ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 49.5%;
}

/* Left column */
div.sparkmenus ul.sparkmenus-left {
}

/* Right column */
div.sparkmenus ul.sparkmenus-right {
}

/* Each item */
div.sparkmenus ul li {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
div.sparkmenus ul li a {
  color: #EEEFFC;
  font-size: 90%;
}
